include ./_mixins.pug

head
    +head-imports
    title=user.username
    meta(name="twitter:card" content="summary")
    meta(property="og:url" content="https://nutracker.fun")
    meta(property="og:image" content="https://nutracker.fun/assets/twitter.png")
    meta(property="og:description" content="Check out " + user.username + " in NuTracker, a tracker for your 🌰s.")
    meta(property="og:title" content=user.username + " in NuTracker")

body
    +nav
    .main-container
        .container
            .row
                .col-lg-3
                    +avatar(user.avatar)
                .col-lg-9
                    form(action="/settings/submit" method="post")
                        .form-group
                            label(for="username-field") Change username
                            input(type="text", name="username" id="username-field" value=user.username).form-control

                        .form-group.mt-3
                            label(for="avatar-field") Change avatar
                            input(type="url", required=true name="avatar" id="avatar-field" value=user.avatar).form-control
                            .form-field-info-box.
                                We currently do not support uploading, you can however set a link to an image here. Just upload it to
                                Imgur and copy the image link.
                                Note that imageboards tend to have temporary links. 
                                If you copied the link from an imageboard and it stops working, it's because your link expired. 
                                Try to avoid imageboards like Danbooru, Gelbooru, Sankaku or any other image links that might expire.

                        .form-group.mt-3
                            input(type="submit" name="submit").button