include ./_mixins.pug

head
    +head-imports
    title=user
    meta(name="twitter:card" content="summary")
    meta(property="og:url" content="https://nutracker.fun")
    meta(property="og:image" content="https://nutracker.fun/assets/twitter.png")
    meta(property="og:description" content="NuTracker is a tracker for your 🌰s.")
    meta(property="og:title" content="#{user} in NuTracker")

body
    +nav
    .main-container
        .container
            .row
                .col-sm
                    h1.user-title=user+'\'s fap history'
                    .general-fap-info
                        .grand-total #{user} has fapped a grand total of #{faps.length} times.

                    .chart-container
                        h4 Weekly chart
                        +weekly-chart(faps)