include ./_mixins.pug

head
    +head-imports
    title #{user.username} - NuTracker
    meta(name="twitter:card" content="summary")
    meta(property="og:url" content="https://nutracker.fun")
    meta(property="og:image" content="https://nutracker.fun/assets/twitter.png")
    meta(property="og:description" content="Check out " + user.username + " in NuTracker, a tracker for your 🌰s.")
    meta(property="og:title" content=user.username + " in NuTracker")

body
    +nav
    .main-container
        .container
            .row.justify-content-end
                .col-lg-10
                    h1.user-title=user.username+'\'s nut history'
                        
            .row
                .col-lg-2.mt-3
                    .card
                        img(src=user.avatar).card-img-top
                        .card-body 
                            .card-text 
                                .general-nut-info.mt-3
                                    .item(title="Total times nutted")
                                        span.item-info 
                                            i.bi.bi-nut-fill
                                            span Total
                                        span.number #{user.nuts.length}
                                    .item(title="User rank")
                                        span.item-info 
                                            i.bi.bi-trophy-fill
                                            span Rank
                                        span.number ##{user.rank}
                                    if (averageNutScore)
                                        .item(title="Average Nut Score (all time)")
                                            span.item-info 
                                                i.bi.bi-speedometer
                                                span ANS™
                                            span.number #{averageNutScore}
                .col-lg-10
                    .chart-container.mt-3
                        h4 Weekly chart
                        +weekly-chart(user.nuts)
                .col-lg-12 
                    .row.justify-content-end
                        .col-lg-10 
                            .table-container.d-none.d-md-block
                                table.table.table-striped.unbordered-table.table-hover
                                    thead
                                        tr
                                            th(scope='col') Observations
                                            th(scope='col') Nut Score™
                                            th(scope='col') Date
                                    tbody
                                        each nut in user.nuts
                                            tr(style="transform: rotate(0);")
                                                td #{nut.observations}
                                                td #{nut.score}
                                                td #{new Date(new Number(nut.date)).toUTCString()}
                            .mobile-nut-container.mt-4.d-md-none
                                each nut in user.nuts
                                    .mobile-nut.mt-2
                                        .card  
                                            .card-body 
                                                .card-text
                                                    .row 
                                                        .col-10 
                                                            .nut-date #{new Date(new Number(nut.date)).toUTCString()}
                                                        .col-2
                                                            .nut-score 
                                                                if(nut.score) 
                                                                    i.bi.bi-speedometer 
                                                                    span #{nut.score}
                                                        .col-12 
                                                            .nut-title #{nut.observations}


                                 
                                    
                        